#define COLOR_ROFI_BACKGROUND			#282828
#define COLOR_ROFI_BACKGROUND_ALT		COLOR_ROFI_BACKGROUND
#define COLOR_ROFI_FOREGROUND			#787a78
#define COLOR_ROFI_HIGHLIGHT_BACKGROUND	#bf5b75
#define COLOR_ROFI_HIGHLIGHT_FOREGROUND #ffffff
#define COLOR_ROFI_WINDOW				COLOR_ROFI_BACKGROUND
#define COLOR_ROFI_WINDOW_BORDER		COLOR_ROFI_HIGHLIGHT_BACKGROUND
#define COLOR_ROFI_ACTIVE				COLOR_ROFI_HIGHLIGHT_BACKGROUND


rofi.color-window: 		#282828, #bf5b75
rofi.color-normal: 		#282828, #787a78, #282828, #bf5b75, #ffffff
rofi.color-urgent: 		#fdf6e3, #dc322f, #eee8d5, #ff0000, #fdf6e3
rofi.color-active:		#282828, #ffffff, #282828, #bf5b75, #ffffff
rofi.width: 			50 
rofi.lines: 			10 
rofi.columns: 			1
rofi.font: 				Deja Vu Sans 16
rofi.bw: 				3
rofi.padding: 			30
rofi.eh: 				1
rofi.hide-scrollbar:	true
rofi.fixed-num-lines:	false
rofi.case-sensitive:	false
rofi.cycle				true
rofi.sidebar-mode:		false
rofi.eh:				1
rofi.ine-margin:		2
rofi.separator-style:	none
rofi.opacity:			98
rofi.run-command:		{cmd}

